* {
    font-family: roboto, Arial, san-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.block-one,
.block-two,
.block-three,
.block-four {
    padding: 32px 214px;
    flex: 1 1 0px;
}

.footer {
    padding: 8px 64px;
}

.header {
    display: flex;
    align-self: stretch;
    align-items: center;
    background-color: #1F2937;
}

.right-links {
    display: flex;
    gap: 8px;
}

.logo {
    font-size: 24px;
    flex: 1;
}

.block-one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    color: white;
    min-width: 1000px;
}

.block-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1000px;
    color: #1F2937; 

}

.block-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items-row {
    display: flex;
    justify-content: center;
    gap: 64px;
    box-sizing: border-box;
}

.item {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 18px;
}


.content-one {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    justify-content: center ;
    gap: 16px;
    padding: 32px 0px;
}

.left-content {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 16px;
}

.right-content{
    display: flex;
    flex:1 1 0;
}

.blurb-header {
    font-size: 48px;
    font-weight: 900;
}

.blurb-body {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    align-self: flex-start;
    background-color: royalblue;
    color: white;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid royalblue;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 16px;
}

.item-pic {
    border-radius: 16px;
    border: 5px solid royalblue;
    flex: 1;
    max-width: 100%;
    width: 150px;
}

.items-title {
    font-size: 36px;
    font-weight: 900;
    margin: 32px;
}

.athlete-name {
    text-align: center;
    margin: 8px;
}

.quote {
    text-align: start;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    padding-left: 256px;
    padding-right: 256px;
    padding-top: 100px;
}

.author {
    text-align: end;
    color: #1F2937;
    padding-left: 256px;
    padding-right: 256px;
    padding-bottom: 100px;
    font-weight: 900;
}

.banner {
    color: white;
    display: flex;
    justify-content: center;
    gap: 512px;
    padding: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
    background-color: royalblue;
    border-radius: 16px;
}

.banner-button {
    border: 1px solid white; 
}

.banner-title {
    font-size: 32px;
    font-weight: 900;
}

.banner-text {
    font-size: 18px;
}